<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gracious Judicious Armadillo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq11.css" rel="stylesheet" />
      <div class="faq11-faq8 thq-section-padding">
        <div class="faq11-max-width thq-section-max-width">
          <div class="thq-flex-column thq-section-max-width faq11-container">
            <div class="faq11-section-title">
              <div class="faq11-content">
                <h2 class="faq11-text thq-heading-2">
                  <span>Frequently Asked Questions</span>
                </h2>
                <p class="faq11-text1 thq-body-large">
                  <span>
                    Plane spotting is the observation and logging of the
                    registration numbers of aircraft as they take off, land, or
                    taxi.
                  </span>
                </p>
              </div>
            </div>
            <div class="faq11-list">
              <div class="faq11-faq1">
                <div class="faq11-trigger">
                  <p class="faq11-faq1-question thq-body-large">
                    <span>What is plane spotting?</span>
                  </p>
                  <div class="faq11-icons-container">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon02">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container03">
                  <span class="thq-body-small">
                    Lorem ipsum dolor sit amet. Est eaque sint ut blanditiis
                    sunt aut deleniti illum non repudiandae voluptatem. Aut
                    praesentium doloribus qui distinctio neque ut unde
                    temporibus. Cum exercitationem eveniet in omnis animi in
                    corporis nulla. Sed tempora excepturi et voluptatem modi et
                    exercitationem voluptate cum illum quisquam 33 quia
                    blanditiis eos minus consequatur.Ut neque quam qui
                    dignissimos voluptates ut voluptate totam aut consequuntur
                    quod. Ut voluptas incidunt ut fuga nostrum ut quaerat enim
                    eum earum tenetur? Est esse harum et Quis officiis et enim
                    amet.Et minima tempore et neque voluptatem eos amet officiis
                    et temporibus Quis. Et suscipit esse id nemo sunt At nihil
                    earum et consequatur fuga aut sapiente voluptate est
                    cupiditate esse non dolor cumque. Ut obcaecati recusandae et
                    beatae quae qui doloremque eligendi sit eaque labore.
                  </span>
                </div>
              </div>
              <div class="faq11-faq2">
                <div class="faq11-trigger1">
                  <p class="faq11-faq2-question thq-body-large">
                    <span>
                      Are the aircraft photos on the website available for
                      commercial use?
                    </span>
                  </p>
                  <div class="faq11-icons-container1">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon04">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon06">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container06">
                  <span class="thq-body-small">
                    Et minima tempore et neque voluptatem eos amet officiis et
                    temporibus Quis. Et suscipit esse id nemo sunt At nihil
                    earum et consequatur fuga aut sapiente voluptate est
                    cupiditate esse non dolor cumque. Ut obcaecati recusandae et
                    beatae quae qui doloremque eligendi sit eaque labore.
                  </span>
                </div>
              </div>
              <div class="faq11-faq3">
                <div class="faq11-trigger2">
                  <p class="faq11-faq2-question1 thq-body-large">
                    <span>
                      Can I request a specific type of aircraft photo that is
                      not currently available on the website?
                    </span>
                  </p>
                  <div class="faq11-icons-container2">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon08">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon10">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container09">
                  <span class="thq-body-small">
                    A quia temporibus aut ullam assumenda vel eius sapiente ut
                    eligendi molestias. Ex ipsum incidunt ut excepturi eaque sed
                    nulla quia qui exercitationem alias aut consequuntur nihil
                    et animi voluptas.
                  </span>
                </div>
              </div>
              <div class="faq11-faq4">
                <div class="faq11-trigger3">
                  <p class="faq11-faq2-question2 thq-body-large">
                    <span>Do you offer discounts for bulk purchases?</span>
                  </p>
                  <div class="faq11-icons-container3">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon12">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon14">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container12">
                  <span class="thq-body-small">
                    A quia temporibus aut ullam assumenda vel eius sapiente ut
                    eligendi molestias. Ex ipsum incidunt ut excepturi eaque sed
                    nulla quia qui exercitationem alias aut consequuntur nihil
                    et animi voluptas.
                  </span>
                </div>
              </div>
              <div class="faq11-faq5">
                <div class="faq11-trigger4">
                  <p class="faq11-faq1-question1 thq-body-large">
                    <span>
                      How can I purchase aircraft photos from the website?
                    </span>
                  </p>
                  <div class="faq11-icons-container4">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon16">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon18">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container15">
                  <span class="thq-body-small">
                    Lorem ipsum dolor sit amet. Est eaque sint ut blanditiis
                    sunt aut deleniti illum non repudiandae voluptatem. Aut
                    praesentium doloribus qui distinctio neque ut unde
                    temporibus. Cum exercitationem eveniet in omnis animi in
                    corporis nulla. Sed tempora excepturi et voluptatem modi et
                    exercitationem voluptate cum illum quisquam 33 quia
                    blanditiis eos minus consequatur.Ut neque quam qui
                    dignissimos voluptates ut voluptate totam aut consequuntur
                    quod. Ut voluptas incidunt ut fuga nostrum ut quaerat enim
                    eum earum tenetur? Est esse harum et Quis officiis et enim
                    amet.Et minima tempore et neque voluptatem eos amet officiis
                    et temporibus Quis. Et suscipit esse id nemo sunt At nihil
                    earum et consequatur fuga aut sapiente voluptate est
                    cupiditate esse non dolor cumque. Ut obcaecati recusandae et
                    beatae quae qui doloremque eligendi sit eaque labore.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="faq11-content1 thq-flex-column">
            <div class="faq11-content2">
              <h2 class="faq11-text7 thq-heading-2">
                <span>Additional Inquiries</span>
              </h2>
              <p class="faq11-text8 thq-body-large">
                <span>
                  To purchase aircraft photos from the website, simply browse
                  our collection and select the desired images. Add them to your
                  cart and proceed to checkout for a secure payment process.
                </span>
              </p>
            </div>
            <a href="contact.html" class="faq11-button thq-button-filled">
              <span class="thq-body-small"><span>Contact</span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
